body{
    background-color: hsl(0, 0%, 91%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: rgb(39, 154, 255);
}

form{
    background-color: rgb(255, 245, 233);
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px ;
}

label{
    font-size: 1.25em;
    font-weight: bold;
}

#result{
    color: brown;
    font-size: 1.5em;
    font-weight: bold;
}

button{
    background-color: rgb(224, 80, 80);
    font-size: 1.25em;
    margin: 10px;
    padding: 5px 7px;
    border-radius: 5px;
    cursor: pointer;

}

button:hover{
    background-color: rgb(224, 100, 100);
}

#textBox{
    font-size: 1.25em;
    text-align: center;
    padding: 5px;
    margin: 10px;
}